html, body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  border-top: 1px solid transparent;
}

.header{
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 50px;
  font-family: 'Raleway', sans-serif;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    padding: 10px 0 0 20px;
    color: #777;
    margin: 0;
  }
}

.card-container {
  width: 550px;
  margin: 40px auto;
  box-sizing: border-box;

  h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    padding: 10px 0 5px 0;
    color: #777;
    margin: 0;
  }

  .card-question {
    min-height: 190px;
  }

  .card-text{
    background: #eee;
    padding: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .card-text-container {
    min-height: 250px;
  }

  .card-submit {
    cursor: pointer;
    border: none;
    background: #eee;
    height: 44px;
    color: #777;
    border-radius: 8px;
    font-size: 23px;
    width: 100%
  }
}